/* ----------------------------------------------------------------------------------
	RESPONSIVE LAYOUTS
---------------------------------------------------------------------------------- */

/* Desktop / Laptop */
@media only screen and (max-width: 1140px) {
}
@media only screen and (max-width: 960px) {
}
	
/* iPad & Tablet */
@media only screen and (max-width: 768px) {

	/* Header */
	#header-sticky-wrapper {
		height: auto !important;
	}
	.is-sticky #header {
		position: static !important;
	}
	#site-header {
		position: relative;
		z-index: 9999;
	}
	#pre-header {
		min-height: 5px;
	}
	#header {
		padding: 0;
	}
	#header-core {
		display: table;
		width: 100%;
		padding: 20px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-o-box-sizing: border-box;
		box-sizing: border-box;
	}
	#logo,
	#header-nav {
		display: table-cell;
		vertical-align: middle;
	}

	#logo {
		height: auto;
		float: none;
		position: static;	
		padding: 0;
		margin: 0 10px 10px;
	}
	#pre-header-search,
	#header-links,
	#pre-header-social {
		display: none;
	}
	#header-responsive {
		display: block;
		background: #292929;
		padding: 0 20px;
	}
	#header-responsive ul {
		margin: 0;
	}
	#header-responsive li {
		position: relative;
		list-style: none;
		border: none;
		background: none;
	}
	#header-responsive .sub-menu li {
		padding: 0;
		border: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		-ms-box-shadow: none;
		-o-box-shadow: none;
		box-shadow: none;
	}
	#header-responsive li a {
		color: #AAA;
		display: block;
		border-bottom: 1px dotted #505050;
		padding: 10px 20px;
	}
	#header-responsive li.current_page_item a,
	#header-responsive li a:hover {
		color: white;
	}
	#header-responsive-inner {
	}
	#header .menu > li.menu-hover > a,
	#header .menu > li.current_page_item > a,
	#header .menu > li.current-menu-ancestor > a,
	#header .menu > li > a:hover {
	color: inherit;
	background: none;
	}
	.nav-collapse {
		overflow: hidden;
		height: 0;
	}
	.btn-navbar {
		width: 20px;
		float: right;
		padding: 10px 10px;
	}
	.btn-navbar .icon-bar {
		display: block;
		width: 20px;
		height: 3px;
		margin: 0 0 0 auto;
		background-color: #333;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-ms-border-radius: 3px;
		-o-border-radius: 3px;
		border-radius: 3px
	}
	.btn-navbar .icon-bar + .icon-bar {
		margin-top: 3px;
	}
	.nav-collapse.collapse {
		-webkit-transition: height 0.35s ease;
		-moz-transition: height 0.35s ease;
		-ms-transition: height 0.35s ease;
		-o-transition: height 0.35s ease;
		transition: height 0.35s ease;
		position: relative;
		overflow: hidden;
		height: 0;
	}

	/* Featured Slider */
	#slider .featured-title span,
	.thinkupslider-sc .featured-title span {
		font-size: 25px !important;
	}
	#slider .featured-excerpt span,	
	.thinkupslider-sc .featured-excerpt span {	
		font-size: 14px !important;
		line-height: 22px !important;
	}
	#slider .featured-link a,
	.thinkupslider-sc .featured-link a {
		font-size: 12px !important;
		padding: 5px 10px !important;
	}

	/* Slider */
	#slider .videoBG video,
	.thinkupslider-sc .videoBG video {
		top: -25% !important;
	}

	/* Intro / Outro */
	.action-text.action-teaser h3, 
	.attention_text h3 { 
		margin-top: 0px; 
	}

	/* Footer */

	/* Sidebar */

	/* Blog */

	/* Post */
	.commentlist .children .children .children { 
		margin: 0px; 
	}

	/* Portfolio */
	.hover-excerpt {
		display: none;
	}
	.da-thumbs li article h3 {
		padding: 0;
	}

	/* Project */

	/* Contact */

	/* Widgets */

	/* Shortcodes */
	.customtitle h1,
	.customtitle h2,
	.customtitle h3,
	.customtitle h4,
	.customtitle h5,
	.customtitle h6 {
		white-space: initial;
	}
	.customtitle .title-div {
		display: none;
	}
}


/* Small Tablets & Larger Phones */
@media only screen and (max-width: 685px) {

	/* Main */
	#pre-header-links-inner,
	#pre-header-social,
	#breadcrumbs,
	#sidebar,
	#intro.option3 .page-teaser,
	#footer-menu,
	.meta-author {
		display: none !important;
	}
	#main-core,
	#intro.option1, 
	#intro.option2 {
		margin-left: 0px !important;
	}
	#main {
		width: 100% !important;
	}
	#main-core, 
	#intro,
	.commentlist .children .children {
		margin: 0px !important;
	}
	#intro.option3 #intro-core {
		margin-left: 10px;
	}
	.notification-text {
		display: block;
		margin-bottom: 5px;
	}

	/* Sub-Menu Toggle */
	#header-responsive .sub-menu-toggle,
	#header-responsive .menu-item-has-children > a:after {
		position: absolute;
		right: 0;
		top: 0;
		width: 39px;
		height: 39px;
		line-height: 39px;
	}
	#header-responsive .sub-menu-toggle {
		z-index: 3;
	}
	#header-responsive .menu-item-has-children > a:after {
		font-family: fontawesome;
		content: "\f067";
		text-align: center;
		font-size: 12px;
		z-index: 2;
	}
	#header-responsive .menu-item-has-children.sub-menu-show > a:after {
		content: "\f068";
	}
	#header-responsive .sub-menu {
		display: none;
	}
	#header-responsive .sub-menu-show > .sub-menu {
		display: block;
	}
	#header-responsive .sub-menu-show > a {
		color: #FFF;
	}
	#header-responsive .sub-menu a {
		padding-right: 70px;
	}
	#header-responsive .sub-menu .sub-menu-toggle {
		width: 70px;
	}
	#header-responsive .sub-menu .menu-item-has-children > a:after {
		right: 20px;
	}

	/* Featured Slider */
	#slider .featured-title,
	.thinkupslider-sc .featured-title {
		margin-bottom: 15px !important;
	}
	#slider .featured-excerpt,
	.thinkupslider-sc .featured-excerpt {
		display: none !important;
	}

	/* Portfolio */

	/* Single Post Share */
	.commentlist .children .children {
		margin: 0px;
	}

	/* Intro / Outro */
	#introaction,
	#outroaction {
		padding: 20px 10px
	}
	#outroaction-core,
	#introaction-core {
		padding: 20px;
	}
	.action-text.three_fourth,
	.action-button.one_fourth.last {
		width:100%;
		float:none;
		margin-right:0px;
	}
	.action-button h4 {
		padding: 10px 10px;
		margin: 0px;
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-o-box-sizing: border-box;
		box-sizing: border-box;
	}
	.action-text {
		padding-bottom: 10px;
	}
	.action-text > h3 {
		margin-top: 0px;
	}
	.action-text,
	.attention_text {
		text-align: center;
	}

	/* Widgets */
	.thinkup_widget_flickr .flickr-photo {
		width: auto !important;
		margin-right: 5px !important;
	}
}


/* iPhone (Landscape) */
@media only screen and (max-width: 568px) {

	/* Main */
	#notification-core .notification-text {
		display: block;
		margin-bottom: 5px;
	}

	/* Featured Slider */
	#slider,
	.thinkupslider-sc {
		text-align: center  !important;
	}
	#slider .featured-title span,
	.thinkupslider-sc .featured-title span {
		font-size: 20px  !important;
	}
	#slider .featured-video,
	.thinkupslider-sc .featured-video {
		display: none  !important;
	}
	#slider .featured-link,
	.thinkupslider-sc .featured-link {
		margin-top: 0 !important;
	}
	#slider .featured-link a,
	.thinkupslider-sc .featured-link a {
		padding: 3px 15px;
		margin: 0px;
	}

	/* Portfolio */
	.portfolio-nav.port-navbar {
		display: block;
		color: inherit;
		padding: 5px 20px;
		background: #F5F5F5;
		border: 1px solid #DDD;
	}
	.portfolio-nav.port-navbar i {
		margin-right: 10px;
	}
	section#options.port-collapse {
		overflow: hidden;
		height: 0;
	}
	section#options.port-collapse.collapse {
		-webkit-transition: height 0.35s ease;
		-moz-transition: height 0.35s ease;
		-ms-transition: height 0.35s ease;
		-o-transition: height 0.35s ease;
		transition: height 0.35s ease;
		position: relative;
		overflow: hidden;
		height: 0;
	}
	section#options {
		margin-bottom: 20px;
		border: none;
	}
	section#options > span {
		display: block;
		padding: 5px 10px;
		color: white;
		font-weight: bold;
		font-size: larger;
	}
	section#options > span i {
		padding-right: 20px;
	}
	#filter.portfolio-filter {
		display: block;
		width: 100%;
		margin: 0;
		padding: 0;
		border: none;
		overflow: hidden;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
	.element.column-1 ,
	.element.column-2 ,
	.element.column-3 ,
	.element.column-4 {
		width: auto !important;
	}
	#filter.portfolio-filter li {
		display: block;
		padding-right: 1px;
	}
	#filter.portfolio-filter li a {
		font-size: 100%;
		width: 100%;
		margin: 0;
		padding: 5px 20px;
		margin-bottom: 2px;
		border-bottom: 1px solid #EEE;
	}
	#filter.portfolio-filter li:after {
		content: "";
	}
	#filter.portfolio-filter li:first-child a {
		padding-left: 20px;
	}
	#filter.portfolio-filter li a:hover, #filter.portfolio-filter li a.selected {
		border-bottom-color: #EEE !important;
	}

	/* Single Post */
	#sharemessage {
		text-align: center;
		margin-bottom: 15px;
		padding: 0;
	}
	#shareicons {
		padding: 0;
	}
	#sharemessage,
	#shareicons {
		width: 100%;
		display: block;
		text-align: center;
	}
	#comments {
		margin-right: 0;
	}
	#nocomments {
		margin-left: 0;
	}

	/* Single Post Share */
	#author-image {
		display: none;
	}
	#author-text {
		margin: 0px;
	}
	#author-bio .author-description {
		padding-right: 50px;
	}
	span.post-title {
		display:none;
	}
	p.form-submit {
		margin-bottom: 0px;
	}
	#shareicons a {
		float: none;
		margin-left: 10px;
		margin-right: 10px;
	}
	.form-allowed-tags {
		display: none;
	}

	/* Intro / Outro */
	.action-text h3, .action-text p {
		margin-left: 0px;
		margin-right: 0px;
	}
	.action-button p {
		margin-left: 0px;
		margin-right: 0px;
	}

	/* Shortcode Content */
	.one_half,
	.one_third,
	.two_third,
	.one_fourth,
	.three_fourth,
	.one_fifth,
	.two_fifth,
	.three_fifth,
	.four_fifth,
	.one_sixth,
	.five_sixth {
		width:100%;
		float:none;
		margin-right:0px;
	}
	#footer .widget-area.one_half,
	#footer .widget-area.one_third,
	#footer .widget-area.two_third,
	#footer .widget-area.one_fourth,
	#footer .widget-area.three_fourth,
	#footer .widget-area.one_fifth,
	#footer .widget-area.two_fifth,
	#footer .widget-area.three_fifth,
	#footer .widget-area.four_fifth,
	#footer .widget-area.one_sixth,
	#footer .widget-area.five_sixth {
		width:100%;
		float:none;
		margin-right:0px;
	}
	.border {
		margin-left:10px;
		margin-right:10px;
	}

	.pricing-table.style1 span {
		text-align: center;
		padding-left: 0;
		padding-right: 0;
		background: none !important
	}
	.pricing-table.style2 .pricing-package {
		float: none;
		display: block;
		margin: 0 auto 20px;
		max-width: 100% !important;
		width: 100% !important;
	}
	.pricing-table.style2 .pricing-package.big {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
	/* Bootstrap Menu */

	/* Widgets */
	.thinkup_widget_categories li span {
		float: none;
		padding-left: 5px;
	}

	/* Misc */
	.hidden-mobile {
		display: none;
	}
}


/* iPhone (Portrait) */
@media only screen and (max-width: 320px) {

	/* Single Post Share */
	.comment-meta {
		float: none;
		display: block;
	}
	.commentlist .children {
	margin: 0 0 0 25px;
	}

	/* Portfolio */

	/* Shortcodes */

}


/* Retina Display */
@media only screen and 
        (-webkit-min-device-pixel-ratio: 1.5), only screen and 
        (-o-min-device-pixel-ratio: 3/2), only screen and 
        (min-device-pixel-ratio: 1.5) {
}