/*
Theme Name: Iscomserca
Author: Christian Meier
Author URI: http://www.iscomserca.com
Template:     edsbootstrap
Description: Tema hijo de edsBootstrap con modificaciones para Iscomserca

Version: 1.0*/

@import url("../edsbootstrap/style.css");

article .row:not(:last-child)
{
    margin-bottom: 30px;
    border-bottom-width: 2px;
    border-bottom-color: #576e9a;
    border-bottom-style: solid;
    padding-bottom: 20px;
}

.footer
{
    border-top-color: #576e9a;
    margin-top: 20px;
}

a
{
    color: #576e9a;
}

.fondo-texto-nosotros{
	background-color: #f5f5f5;
	padding: 10px;
	margin-top: 3px;
	margin-left: 0.5px;
	margin-right: 0.5px;
	-webkit-box-shadow: 3px 2px 10px -2px rgba(0,0,0,0.67);
	-moz-box-shadow: 3px 2px 10px -2px rgba(0,0,0,0.67);
	box-shadow: 3px 2px 10px -2px rgba(0,0,0,0.67);
	border-radius: 16px 24px 24px 24px;
    -moz-border-radius: 16px 24px 24px 24px;
    -webkit-border-radius: 16px 24px 24px 24px;
    float:left;
	opacity: 0.9;
	
}

.navbar-right li a:active, .navbar-right li a.active, .navbar-right li a:hover, .scroll-to-top
{
    background-color: #576e9a !important;
}

.footer .custom-logo-link img
{
    max-height: 120px;
    width: auto;
}
.carousel-inner .item img
{
    width: 100%;
    height: auto;
}
.front-login
{
   /*background-image: url('http://iscomserca.com.ve/wp-content/uploads/2018/05/imagen-4-copia.png');*/
	box-shadow: 3px 2px 10px -2px rgba(0,0,0,0.67);
	border-radius: 16px 24px 24px 24px;
    -moz-border-radius: 16px 24px 24px 24px;
    -webkit-border-radius: 16px 24px 24px 24px;
	background-color: #f5f5f5; 
	float:right; 
	text-align: center !important; 
	padding: 15px 0px 0px 15px; 
	width:300px; 
	/*color: blue; */
	margin: 10px;
}

.front-login label{
	color: blue;
}

#loginform label
{
    display: block !important;
}
body
{
	/*background-color: rgba(255, 255, 255, 0.6);*/
    /*background-image: url('img/fondo-iscomserca.png');*/
    background-image: url('http://iscomserca.com.ve/wp-content/uploads/2018/05/pieza-fondo.png');
	/*background-size: cover;*/
    background-repeat: repeat;
    /*background-position: center center;*/
	background-position: relative;
	/*position: relative;*/
    /*background-attachment: fixed;*/
    text-shadow: 0 0 3px #fff;
}
/*body:before{
	content:"";
	width: 100%;
	height: 100%;
	background-color: white;
	position: absolute;
	opacity: 0.5;
}*/

footer
{
	background-color: #fff;
}
.redes a img
{
	display: inline-block;
	/*opacity: 0.6;*/
	transition: opacity 1s;
}
.redes a:hover img, .redes a:focus img, .redes a:active img
{
	opacity: 1.0;
}
#reparamos
{
    background-image: url('img/reparamos.png');
}
#atencion-cliente
{
    background-image: url('img/atencion-cliente.png');
}

#reparamos, #atencion-cliente
{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    display: inline-block;
    position: relative;
    margin: 0 auto;
    height: 280px;
}

#reparamos .btn, #atencion-cliente .btn
{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25%;
    width: 50%;
}
.btn.btn-primary:hover, .btn.btn-primary:active
{
    border-color: #777 !important;
    background-color: #777 !important;
    background-position: 0 !important;
    background-image: none !important;
}
